<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automation Practice Site Testing">

	<listeners>
		<listener class-name="com.qa.ExtentReportListener.AutoExtentReporterNG" />
	</listeners>


	<test name="Automation Pages TestCases">
		<classes>
			<class name="com.AutoP.TestCases.HomePageTest"></class>
			<class name="com.AutoP.TestCases.SignInPageTest"></class>
			<class name="com.AutoP.TestCases.RegPageTest"></class>

		</classes>
	</test>
</suite>